@model Desafio.Domain.Entities.MarcacaoConsulta
@{
    ViewData["Title"] = "Detalhes da Marcação de Consulta";
}

<div class="mb-3">
    <h4>@ViewData["Title"]</h4>
</div>

<div class="container-fluid mt-3">
    <partial name="_Form" />
</div>

@section Scripts {
    @{
        <partial name="_InputScriptsPartial" />
    }
}