@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Bem-vindo ao projeto ASP.NET WebMVC</h4>
    <p>documentação do Asp.NET Core disponível em <a href="https://docs.microsoft.com/aspnet/core">https://docs.microsoft.com/aspnet/core</a>.</p>
</div>
